@import '../../../assets/css/variables';
@import '../../../assets/css/media-query';

#expenses-summary {
    #selections {
        width: 100%;
        display: flex;
        align-items: baseline;

        @include media-breakpoint-down (md) {
            width: 100%;
        }

        h1 {
            text-transform: capitalize;
            color: $main-purple;
            font-weight: 600;
        }

        .dropdown {
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            button {
                background-color: transparent;
                color: $text-grey;
                border: solid 1px $border-grey;
                border-radius: $dropdown-border-radius;
                position: relative;
                width: 10rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            ul {
                padding: 0;
                border-radius: $dropdown-border-radius;
                overflow: hidden;

                &.dropdown-menu {
                    li {
                        cursor: pointer;

                        a {
                            padding: 0.8rem 0.8rem;
                            text-align: start;
                            font-size: 1rem;
                            font-weight: 600;
                            color: $text-grey;

                            &.dropdown-item {
                                &:active {
                                    background-color: $main-purple;
                                    color: #fff;
                                }

                                &:hover {
                                    background-color: $main-purple;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

        #legend {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: solid 1px $border-grey;
            border-radius: $dropdown-border-radius;
            padding: 0.3rem 2rem;

            #color1 {
                width: 25px;
                height: 5px;
                margin: auto 1rem auto auto ;
                background-color: $chart1;
            }

            #color2 {
                width: 25px;
                height: 5px;
                margin: auto 1rem auto auto ;
                background-color: $chart2;
            }
        }
    }

    google-chart {
        width: 100%;
        height: 280px;
        margin-top: 0.5rem;
    }
}