@import '../../../assets/css/variables';

.loader-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f691;
    z-index: 111111;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        margin: auto;
        border: 20px solid #EAF0F6;
        border-radius: 50%;
        border-top: 20px solid $main-purple;;
        width: 100px;
        height: 100px;
        animation: spinner 4s linear infinite;
      }
}

  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }