@import '../../assets/css/variables';
@import '../../assets/css/media-query';

#loader {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 99;
    background-color: #fff;

    // Progress Bar Color
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: $main-purple;
    }

    // Progress Bar Width
    #progress-bar {
        width: 30%;

        @include media-breakpoint-down (lg) {
            width: 50%;
        }

        @include media-breakpoint-down (md) {
            width: 70%;
        }

        @include media-breakpoint-down (sm) {
            width: 90%;
        }
    }

    // Logo
    .img-container {
        width: 100px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    // Title
    #title {
        color: $main-purple;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: capitalize;
        margin: 1rem 0 4rem 0;
    }
}