<div id="log-summary">
    <h1 class="mb-4">Recent Activity</h1>

    
    <div class="row mt-4">
        <div class="col-lg-4 col-md-12 date">
            <span>Apr </span> <span>24</span>, <span>2020 </span> <span>10:02 </span> <span>AM</span>
        </div>
        <div class="col-lg-8 col-md-12 action">
            "Team Member" created a new invoice for "Client Name" to be collected on "Due Date"
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-lg-4 col-md-12 date">
            <span>Apr </span> <span>23</span>, <span>2020 </span> <span>5:02 </span> <span>PM</span>
        </div>
        <div class="col-lg-8 col-md-12 action">
            "Team Member 1" created a new invoice for "Client Name7" to be collected on "Due Date"
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-lg-4 col-md-12 date">
            <span>Apr </span> <span>22</span>, <span>2020 </span> <span>3:08 </span> <span>PM</span>
        </div>
        <div class="col-lg-8 col-md-12 action">
            "Team Member 3" created a new invoice for "Client Name6" to be collected on "Due Date"
        </div>
    </div>


</div>