// Colors
$main-purple: #731991;
$border-grey: #DFDFDF;
$text-grey: #959595;
$text-black: #707070;
$danger-red: #fb0055;
$chart1: #1CDE9B;
$chart2: #ff2f00;

// Border Radius
$button-border-radius: 1.5rem;
$dropdown-border-radius: 1rem;