<div id="new-pass" class="d-flex flex-column justify-content-between align-items-center">
    <div class="w-100">
        <div class="alert alert-success" role="alert" *ngIf="show_success_Alert">
            Welcome, <span>User</span>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="show_failure_alert">
            Invalid Email or Password
        </div>
    </div>

    <div class="container d-flex flex-column align-items-center justify-content-center">

        <div class="img-container">
            <img src="../../assets/img/chart-line-solid.svg" alt="logo">
        </div>
        <h2 id="title">Invoices Manager</h2>

        <!-- Form -->
        <div id="new-password-form">
            <h2>Set A New Password</h2>
            <form method="GET" [formGroup]="newPasswordForm" (ngSubmit)="formSubmit()">

                <div class="row mb-3">
                    <label for="new-password" class="col-lg-3 col-form-label">New Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="new-password" name="new-password"
                            placeholder="Choose New Password" formControlName="new_password" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="confirm-new-password" class="col-lg-3 col-form-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password"
                            placeholder="Confirm New Password" formControlName="confirm_new_password" required>
                    </div>
                </div>
                <div id="confirm-btn-container" class="d-flex flex-column align-items-center justify-content-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!newPasswordForm.valid">Confirm</button>
                </div>

            </form>
        </div>

    </div>

    <div></div>
</div>