<div id="add-new-tax">
    <a id="new-tax-btn" class="btn mt-4" (click)="open_modal(content)">
        <img src="../../assets/img/plus-white.svg" alt="">
        Add new tax
    </a>
</div>

<ng-template #content let-modal id="new-tax-modal">
    <div class="modal-header">
        <h4 class="modal-title">new tax entry</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <!-- Form -->
        <div id="new-tax-form">
            <form method="GET" [formGroup]="NewTaxForm" (ngSubmit)="newtax(); modal.close(); open_modal(success);">

                <div class="row mb-3">
                    <label for="new-tax_desc" class="col-lg-2 col-form-label">Tax Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="new-tax-name" name="new-tax-name"
                            placeholder="Tax Name" formControlName="new_tax_name" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="new-tax-rate" class="col-lg-2 col-form-label">Tax Rate</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="new-tax-rate" name="new-tax-rate"
                            placeholder="Tax Rate" formControlName="new_tax_rate" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-light"
                        (click)="modal.close('Close click')">Cancel</button>

                    <button type="submit" id="add" class="btn btn-light" [disabled]="!NewTaxForm.valid">Save
                        Changes</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #success let-modal id="success-modal">

    <div class="modal-body text-center">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <h4>
            <img src="../../../assets/img/check-solid.svg" alt="">
            tax added successfully
        </h4>
    </div>
    <button type="button" id="ok" class="btn btn-light" (click)="modal.close('Close click')">OK</button>
</ng-template>