@import '../../../assets/css/variables';

#team-summary {
    h1 {
        text-transform: capitalize;
        color: $main-purple;
        font-weight: 600;
    }

    .label {
        color: $main-purple;
        font-size: 1rem;
    }

    .stat {
        color: $text-grey;
        font-weight: 500;
    }
}